<% provide(:title, "Home") %>
<div class="jumbotron">
  <h1>Welcome</h1>
  <p>Adipisicing minus quis adipisicing sapiente nulla. Repudiandae quae dicta fuga fuga voluptates </p>
  <img src="<%= image_path("banner.jpg") %>"/>
</div>
